.pagination {
  display: flex;
  gap: 20px;
  width: 90%;
  max-width: 600px;
  margin: 30px auto;
}

.back-button, .next-button {
  flex-grow: 1;
  padding: 15px 10px;
  border-radius: 5px;
  background-color: #457b9d;
  color: #FFFFFF;
  text-transform: uppercase;
  cursor: default;
  opacity: 0.5;
}

.back-button.active, .next-button.active {
  cursor: pointer;
  opacity: 1;
  transition: 0.3s background-color;
}

.back-button.active:hover, .next-button.active:hover {
  background-color: #296c96;
}

@media (max-width: 500px) {
  .pagination {
    flex-direction: column-reverse;
  }
}